<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SPORT-SPOT</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/sport-spot.css" />
</head>

    
     <header class="header1"> 
        <h1>SPORTS-SPOT</h1>
        <nav>
          <ul class="navigation-list">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/featuredGames">Last Results</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
          </nav>
      </header>

      

       

  <main>
    {{{body}}}
  </main>
      


  
    
</html>
 <script src="../../public/js/sport-spot.js"></script>