<section class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Logout</h3>
    <p class="card-text">You have been successfully logged out.</p>
    <a href="/">Go to Homepage</a>
  </div>
</section>
