<head>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <section id="divideLists">
        <ul id="west"></ul>
        <ul id="east"></ul>
    </section>
    <results id="results">
        <div id="show">
            <div id="game">
                <div class="pic">
                    <img id="homePic">
                    <p id='home'></p>
                </div>
                <p>VS</p>
                <div class="pic">
                    <img id="visitorPic">
                    <p id='visitors'></p>
                </div>
            </div>
            
            <div class="stats">
                <p>Scores</p>
                <div class="info">
                    <ul id="homeStats">
                        
                    </ul>
                    <ul id="visitorStats">
                        
                    </ul>
                </div>
            </div>
        </div>
    </results>
    <script src="../public/js/search.js"></script>
</body>