body {
  font-family: Arial, sans-serif;
}

div {
  margin-bottom: 15px;
}

form {
  margin-bottom: 15px;
}

input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007BFF;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#posts-container div {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

#posts-container div:not(:last-child) {
  margin-bottom: 15px;
}
