/* sport-spot.css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.col-1 {
  background: #85bb65d5;
  flex:1;
}

.col-2 {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > article {
  flex: 4;
  min-height: 60vh;
}

header {
  background: #a9b0b4;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  width: 80%;
  height: auto;
  border-radius: 20px;
  margin: auto; /* to center the header */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #a9b0b4;
  height: 10vh;
  line-height: 5vh; 
}



.sidebar {
  background: #0f49f1;
  margin-bottom: 10px;
  text-align: center;
  width: 200px;
}

.input-field, .user-id-field, .comments-section #commentList div {
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

h1 {
  text-align:center;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between; /* corrected from 'justify-items: space between' */
  padding: 4px;
}

.navigation-list li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

.navigation-list li a:hover {
  background-color: #000;
  color: #fff;
}

.comments-section {
  margin-top: 20px;
}

.comments-section h2 {
  font-size: 20px;
  font-weight: bold;
}



.comments-section #commentList div {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card {
  background: orange;
  color: black;
  width: 200px;
  height: 100px;
}


