{{> navbar}}

<h1>Last Trending NBA Results</h1>

<div id="game-results-container">
  {{!-- Game results will be dynamically added here --}}
</div>

{{#if isAuthenticated}}
  <div class="discussion-container">
    <button id="discussionButton">Discussion</button>
  </div>
{{/if}}

{{!< main}}

{{!-- Include necessary CSS and JavaScript files --}}
{{!-- Adjust the paths based on your file structure --}}
<link rel="stylesheet" href="/css/home.css">
<script src="/js/homepage.js"></script>
