
<section class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Login</h3>
    <form id="login">
      <div class="card-text">
        <label for="loginUsername">Username</label>
        <input type="text" placeholder="Username" id="loginUsername">
      </div>
      <div class="card-text">
        <label for="loginPassword">Password</label>
        <input type="password" placeholder="Password" id="loginPassword">
      </div>
      <button>Login!</button><br>
      <a href="/signup">Signup instead</a>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>
