<div class="post-card">
  <form class="post-form">
    <input type="text" placeholder="Write a post" name="post">
    <button type="submit">Add Post</button>
  </form>
</div>

{{#each posts}}
<div class="post-card">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Posted by: {{user.username}}</p>
  <p>Comments:</p>
  <ul>
    {{#each comments}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  <form class="comment-form">
    <input type="text" placeholder="Write a comment" name="comment">
    <button type="submit">Add Comment</button>
  </form>
</div>
{{/each}}

<script src="/js/post.js"></script>
