<section class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="signup">
            <div class="card-text">
            <label for="signupUsername">Username</label>
            <input type="text" placeholder="username" id="signupUsername">
            </div>
            <div class="card-text">
            <label for="signupPassword">Password</label>
            <input type="text" placeholder="password" id="signupPassword">
            </div>
            <button>Signup!</button><br>
            <a href="/login">Login instead</a>
        </form>
    </div>
</section>


<script src="/js/signup.js"></script>